Repository instructlab/taxonomy, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, knowledge, skill, triage-needed

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0

ci:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**
          - .github/workflows/**
          - .github/*.yml

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - docs/**

knowledge:
  - changed-files:
      - any-glob-to-any-file:
          - knowledge/**

skill:
  - changed-files:
      - any-glob-to-any-file:
          - compositional_skills/**

triage-needed:
  - changed-files:
      - any-glob-to-any-file:
          - compositional_skills/**
          - knowledge/**

Update triaging-contributions.md (#1181)
  docs/triaging/triaging-contributions.md
Labels: documentation

Added knowledge: Nobel Laureates > India
  knowledge/nobel_laureates/india/attribution.txt
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

Fix folder name misspelling (#1158)
  knowledge/science/botany/poison_ivy/.gitignore
Labels: knowledge, triage-needed

skill: Add skills for problem solving (Clone of PR 428) (#737)
  compositional_skills/writing/freeform/riddles/qna.yaml
Labels: skill, triage-needed

Fixes for the linter (#1166)
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/qna.yaml
  compositional_skills/writing/freeform/emoji/qna.yaml
  compositional_skills/writing/freeform/riddles/attribution.txt
  compositional_skills/writing/freeform/riddles/qna.yaml
Labels: skill, triage-needed

Linting error corrections
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

Cleanup label workflow (#1171)
  .github/workflows/label.yml
  docs/knowledge-contribution-guide.md
Labels: ci, documentation

linting issues
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

Add skill for creating tables in Asciidoc format (#734)
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/attribution.txt
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/qna.yaml
Labels: skill, triage-needed

Linting error corrections
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

linting fixes
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

Add skill to replace words in text with corresponding emoji (#733)
  compositional_skills/writing/freeform/emoji/attribution.txt
  compositional_skills/writing/freeform/emoji/qna.yaml
Labels: skill, triage-needed

Added knowledge: Nobel Laureates > India
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

check_yaml: Use instructlab-schema package instead of git submodule
  .github/workflows/actionlint.yml
  .github/workflows/docs.yml
  .github/workflows/insight.yml
  .github/workflows/lint.yml
  .gitmodules
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  scripts/check-yaml.py
  scripts/requirements.txt
Labels: ci, documentation

Added knowledge: Nobel Laureates > India
  knowledge/literature/awards_recognitions/booker_prize/attribution.txt
  knowledge/literature/awards_recognitions/booker_prize/qna.yaml
Labels: knowledge, triage-needed

Skill:List specific number synonyms for one word
  compositional_skills/general/synonyms/attribution.txt
  compositional_skills/general/synonyms/qna.yaml
Labels: skill, triage-needed

Update attribution.txt to meet requirements
  compositional_skills/linguistics/ambiguity_detection/attribution.txt
Labels: skill, triage-needed

Add version to qna.yaml
  compositional_skills/linguistics/ambiguity_detection/qna.yaml
Labels: skill, triage-needed

nobel laureates
  knowledge/nobel_laureates/india/attribution.txt
  knowledge/nobel_laureates/india/qna.yaml
Labels: knowledge, triage-needed

update commit for Hekmat knowledge
  knowledge/history/biography/egypt/hikmat_abu_zayd/qna.yaml
Labels: knowledge, triage-needed

hikmat-abu-zeid-egy-bio
  knowledge/history/biography/egypt/hikmat_abu_zayd/attribution.txt
  knowledge/history/biography/egypt/hikmat_abu_zayd/qna.yaml
Labels: knowledge, triage-needed

remove version from qna
  knowledge/history/biography/egypt/hikmat_abu_zayd/qna.yaml
Labels: knowledge, triage-needed

lint and prettify qna.yaml
  knowledge/history/biography/egypt/hikmat_abu_zayd/qna.yaml
Labels: knowledge, triage-needed

Fix lint
  knowledge/history/biography/egypt/hikmat_abu_zayd/qna.yaml
Labels: knowledge, triage-needed
