Repository instructlab/taxonomy, pull requests merged in 2024-09, with the labels that each got.

#1287 Update README.md, Knowledge yaml examples section (#1)
  README.md
Labels: documentation

#1291 Added taxonomy template
  docs/template_qna.yaml
Labels: documentation

#1211 Inclusive IT terminology
  compositional_skills/grounded/linguistics/inclusion/attribution.txt
  compositional_skills/grounded/linguistics/inclusion/qna.yaml
Labels: skill, ready-to-merge

#1130 Skill:List specific number synonyms for one word
  compositional_skills/general/synonyms/attribution.txt
  compositional_skills/general/synonyms/qna.yaml
Labels: skill, community-build-ready, ready-to-merge

#852 New skill: Rewrite complex texts
  compositional_skills/writing/grounded/editing/content/attribution.txt
  compositional_skills/writing/grounded/editing/content/qna.yaml
Labels: skill, community-build-ready, ready-to-merge

#1184 Black Capped (combined)
  knowledge/science/animals/birds/black_capped_chickadee/attribution.txt
  knowledge/science/animals/birds/black_capped_chickadee/qna.yaml
Labels: knowledge, ready-to-merge
