Repository instructlab/taxonomy, pull requests merged in 2024-06, with the labels that each got.

#1158 Fix folder name misspelling
  knowledge/science/botany/poison_ivy/.gitignore
Labels: knowledge

#737 skill: Add skills for problem solving (Clone of PR 428)
  compositional_skills/writing/freeform/riddles/qna.yaml
Labels: skill, triage-approved

#734 Add skill for creating tables in Asciidoc format
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/attribution.txt
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/qna.yaml
Labels: skill, triage-approved

#1166 Fixes for the linter
  compositional_skills/extraction/inference/quantitative/asciidoc/tables/qna.yaml
  compositional_skills/writing/freeform/emoji/qna.yaml
  compositional_skills/writing/freeform/riddles/attribution.txt
  compositional_skills/writing/freeform/riddles/qna.yaml
Labels: triage-needed, skill

#1171 Cleanup label workflow
  .github/workflows/label.yml
  docs/knowledge-contribution-guide.md
Labels: documentation, ci

#1181 Update triaging-contributions.md
  docs/triaging/triaging-contributions.md
Labels: documentation

#730 Add a skill to better understand bullet lists of items
  compositional_skills/linguistics/bullet_lists/attribution.txt
  compositional_skills/linguistics/bullet_lists/qna.yaml
Labels: skill, e2e-ready
