Repository instructlab/taxonomy, pull requests merged in 2024-04, with the labels that each got.

#723 readme fixes
  knowledge/README.md
Labels: triage-needed, knowledge

#725 fixed typo and bad link
  README.md
Labels: documentation

#724 added CC-BY-SA 4.0 to acceptable licenses list
  CONTRIBUTING.md
Labels: documentation

#755 Fix error in knowledge guide
  docs/knowledge-contribution-guide.md
Labels: documentation

#753 Fix invalid links in knowledge README
  knowledge/README.md
Labels: documentation

#757 validation: Confirm the qna.yaml file has a non-empty attribution.txt
  .github/scripts/check-yaml.py
Labels: ci

#759 Fixing triaging docs
  docs/triaging/triaging-contributions.md
Labels: documentation

#761 chore: Add avoid topics to PR template
  .github/pull_request_template.md
Labels: chore

#745 Update notice comments to single line SPDX-License-Identifier
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
Labels: ci

#754 ci: Change labeler configuration to remove syncing
  .github/workflows/label.yml
Labels: ci

#764 docs: Avoid-these-topics has moved
  .github/pull_request_template.md
  docs/contributing_via_GH_UI.md
  docs/triaging/safe-responses.md
Labels: documentation
