Repository instructlab/taxonomy, pull requests merged in 2024-05, with the labels that each got.

#777 DOCS: Moving skills and knowledge guide to taxonomy repo
  .github/pull_request_template.md
  README.md
  docs/KNOWLEDGE_GUIDE.md
  docs/SKILLS_GUIDE.md
  docs/triaging/safe-responses.md
Labels: documentation

#779 Harden action workflows
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/matchers/actionlint.json
  .github/workflows/stale_bot.yml
Labels: ci

#770 ci: add markdown linter
  .github/workflows/docs.yml
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  SECURITY.md
  docs/KNOWLEDGE_GUIDE.md
  docs/README.md
  docs/SKILLS_GUIDE.md
  docs/contributing_via_GH_UI.md
  docs/knowledge-contribution-guide.md
  docs/triaging/safe-responses.md
  docs/triaging/triaging-contributions.md
  knowledge/README.md
Labels: documentation, ci

#783 Update SECURITY.md
  SECURITY.md
Labels: documentation

#784 Run workflows when they are changed in a PR to test them
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Labels: ci

#838 Link to Taxonomy Tree in readme.md is broken
  README.md
Labels: documentation

#845 Knowledge demo dirs
  knowledge/animals/birds/black_capped_checkadee/.gitignore
  knowledge/animals/black_rhino/.gitignore
  knowledge/animals/blue_foot_booby/.gitignore
  knowledge/animals/cloning/dolly_the_sheep/.gitignore
  knowledge/animals/indian_elephant/.gitignore
  knowledge/animals/tabby_cat/.gitignore
  knowledge/animals/zebu/.gitignore
  knowledge/archeology/fossils/jurahylobittacus/.gitignore
  knowledge/astronomy/constellations/Phoenix/.gitignore
  knowledge/astronomy/constellations/Telescopium/.gitignore
  knowledge/biology/mitochondrion/.gitignore
  knowledge/british_history/royal_corgi/.gitignore
  knowledge/cars/delorean/.gitignore
  knowledge/chemestry/reactions/vinegar_syndrome/.gitignore
  knowledge/college/mascots/reveille/.gitignore
  knowledge/crafts/needlepoint/.gitignore
  knowledge/fast_food/hungry_jacks/.gitignore
  knowledge/geography/highways/interstate_84/.gitignore
  knowledge/geography/islands/prince_island/.gitignore
  knowledge/geography/locations/federation_square/.gitignore
  knowledge/geology/sandstone/.gitignore
  knowledge/highways/gaps_in_interstate/.gitignore
  knowledge/history/events/.gitignore
  knowledge/history/events/SAG-AFTRA/.gitignore
  knowledge/insects/worker_bees/.gitignore
  knowledge/knots/figure_eight_knot/.gitignore
  knowledge/laws/traffic_laws_us/.gitignore
  knowledge/literature/novels/shogun/.gitignore
  knowledge/literature/published_1965/.gitignore
  knowledge/music/events/cochella_2023/.gitignore
  knowledge/music/korean_court_music/.gitignore
  knowledge/musical_instruments/alto_sax/.gitignore
  knowledge/musical_instruments/les_paul_studio/.gitignore
  knowledge/pop_culture/events/barbenheimer/.gitignore
  knowledge/pop_culture/influencers/alix_earle/.gitignore
  knowledge/pop_culture/olivia_benson/.gitignore
  knowledge/pop_culture/swifties/.gitignore
  knowledge/science/anatomy/appendix/.gitignore
  knowledge/science/anatomy/wisdom_teeth/.gitignore
  knowledge/science/astronomy_tech/radioisotope_termo_generator/.gitignore
  knowledge/science/biology/baltimore_clasification/.gitignore
  knowledge/science/botany/.gitignore
  knowledge/science/botany/dianthus_caryophyllus/.gitignore
  knowledge/science/botany/jasminum/.gitignore
  knowledge/science/botony/poison_ivy/.gitignore
  knowledge/science/geology/lapis/.gitignore
  knowledge/science/medical/pancreaticoduodenectomy/.gitignore
  knowledge/sports/athletes/caitlin_clark/.gitignore
  knowledge/sports/athletes/jason_kelce/.gitignore
  knowledge/sports/horse_surfing/.gitignore
  knowledge/sports/roller_hockey/.gitignore
  knowledge/studios/bbc_studios/.gitignore
  knowledge/tech_industry/ceo/lisa_su/.gitignore
  knowledge/video_games/game_informer/.gitignore
  knowlege/science/medicine/sham_surgery/.gitignore
Labels: triage-needed, knowledge

#848 Fix spelling error in path
  knowledge/science/medical/sham_surgery/.gitignore
Labels: triage-needed, knowledge

#918 Updated per the triager conversation
  .github/workflows/stale_bot.yml
Labels: ci

#989 stale: Update configuration for issue staleness
  .github/workflows/stale_bot.yml
Labels: ci

#1061 Add workflow to trigger CoC violation analysis
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1062 Workflow improvements for new insight workflow
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1063 Add pull request number to workflow run-name
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1065 Fix workflows use of github context
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1075 Remove pull number check from workflow run
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1076 Debug coc workflow
  .github/workflows/coc_violation_analysis.yml
Labels: ci

#1079 check_yaml: Always run schema validation
  .github/scripts/check-yaml.py
Labels: ci

#1084 validation: Confirm yaml file contents are an object
  .github/scripts/check-yaml.py
Labels: ci

#1085 ci: Relocate insight execution from a workflow_run to a post-lint step
  .github/workflows/coc_violation_analysis.yml
  .github/workflows/lint.yml
Labels: ci

#1090 Remove faulty debug output
  .github/workflows/lint.yml
Labels: ci

#1096 workflow: Access secret through env var
  .github/workflows/lint.yml
Labels: ci

#1101 workflow: Configure insight analysis to a workflow_run
  .github/workflows/insight.yml
  .github/workflows/lint.yml
Labels: ci

#1102 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1070 Added a automatic note for triage-uncertain
  .github/workflows/label.yml
Labels: ci

#780 Skeleton Knowledge Taxonomy
  knowledge/Humanities/Arts/.gitignore
  knowledge/Humanities/History/.gitignore
  knowledge/Humanities/Languages_and_Literature/.gitignore
  knowledge/Humanities/Law/.gitignore
  knowledge/Humanities/Performing_Arts/.gitignore
  knowledge/Humanities/Philosophy/.gitignore
  knowledge/Humanities/Religion/.gitignore
  knowledge/Humanities/Sports/.gitignore
  knowledge/STEM/.gitignore
  knowledge/STEM/Engineering/.gitignore
  knowledge/STEM/Mathematics/.gitignore
  knowledge/STEM/Science/Applied_Science/Agriculture/.gitignore
  knowledge/STEM/Science/Applied_Science/Architecture_and_Design/.gitignore
  knowledge/STEM/Science/Applied_Science/Business/.gitignore
  knowledge/STEM/Science/Applied_Science/Education/.gitignore
  knowledge/STEM/Science/Natural_Science/Astronomy/.gitignore
  knowledge/STEM/Science/Natural_Science/Biology/.gitignore
  knowledge/STEM/Science/Natural_Science/Chemistry/.gitignore
  knowledge/STEM/Science/Natural_Science/Earth_Science/.gitignore
  knowledge/STEM/Science/Natural_Science/Physics/.gitignore
  knowledge/STEM/Science/Social_Science/Anthropology/.gitignore
  knowledge/STEM/Science/Social_Science/Archaeology/.gitignore
  knowledge/STEM/Science/Social_Science/Economics/.gitignore
  knowledge/STEM/Science/Social_Science/Geography/.gitignore
  knowledge/STEM/Science/Social_Science/Linguistics/.gitignore
  knowledge/STEM/Science/Social_Science/Political_Science/.gitignore
  knowledge/STEM/Science/Social_Science/Psychology/.gitignore
  knowledge/STEM/Science/Social_Science/Sociology/.gitignore
  knowledge/STEM/Technology/.gitignore
Labels: documentation, triage-approved, knowledge

#1103 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1111 Update actionlint to v1.7.0
  .github/workflows/actionlint.yml
Labels: ci

#1112 workflow: Handle when a pull request does not contain qna.yaml
  .github/workflows/insight.yml
  .github/workflows/lint.yml
Labels: ci

#1115 workflow: Set insight workflow run-name to the display_title
  .github/workflows/insight.yml
Labels: ci

#1116 Update knowledge-contribution-guide.md
  docs/knowledge-contribution-guide.md
Labels: documentation

#1119 Abstract out radioisotope_thermo_generator dir rename (#1116)
  README.md
  knowledge/science/astronomy_tech/radioisotope_thermo_generator/.gitignore
Labels: documentation, triage-needed, knowledge

#1132 Fix broken link
  CONTRIBUTING.md
Labels: documentation

#1134 Fix example type
  docs/contributing_via_GH_UI.md
Labels: documentation

#1136 Update triaging-contributions.md
  docs/triaging/triaging-contributions.md
Labels: documentation

#1122 workflow: Add workflow to update CoC report on PR close event
  .github/workflows/update-CoC-report.yml
Labels: ci

#1138 Docs: Add specific conversion description to knowledge contribution guide
  docs/knowledge-contribution-guide.md
Labels: documentation

#1145 Update actionlint to v1.7.1
  .github/dependabot.yml
  .github/workflows/actionlint.dockerfile
  .github/workflows/actionlint.yml
Labels: ci
